@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  background-color: rgb(255, 255, 255);
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li {
  margin-left: 1rem;
}

a {
  text-decoration: none;
}
